<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>3D Mesh Estimation</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">3D Pose Estimation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">

      <div class="row mb-2">
          <div class="col">
              <img id="bbox_image" class="img-fluid" src="{{ display_image }}" alt="Input Image">
          </div>
          <div class="col">
            <div class="form-check">
              <label class="form-check-label">
                <input id="person1" type="checkbox" class="form-check-input" value="1">Person 1
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="person2" type="checkbox" class="form-check-input" value="2">Person 2
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="person3" type="checkbox" class="form-check-input" value="3">Person 3
              </label>
            </div>
          </div>
      </div>

</main><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$('input:checkbox').change(function() {
  var persons_selected = []
  var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

  for (var i = 0; i < checkboxes.length; i++) {
    persons_selected.push(checkboxes[i].value)
  }
  $.ajax({
    type: 'GET',
    cache: false,
    url: '/renderbbox',
    data: {jsdata: persons_selected},
    success: function(resp){
      d = new Date();
      $('img').attr('src', resp.url+"?"+d.getTime());
    },
    error: function(xhr) {
      console.log("There was an error while updating image")
    }
  });
})
</script>
</html>